.home-outer {
    background-color: #3F84C7;
    min-height: 100vh;
}

.home-h3 {
    display:flex;
    justify-content: center;
    font-size: xx-large;
    color: #E6F4F1;
}

.log-form-home {
    padding: 10%;
}