// Place all the styles related to the Logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-responsive {
    overflow-y: auto;
    max-height: 86vh;
}

.header-td {
    font-weight: bold;
    background-color: #F5F5F5;
}

td {
    background-color: #F5F5F5;
}